.write-review-page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 40px 0;
  background: #242424; 
  min-height: 100vh;
}

.write-review-container {
  background: white;
  padding: 25px 30px;
  width: 480px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.review-title {
  font-size: 28px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
  color: #333;
}


.review-rating-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #333
}

.interactive-stars {
  font-size: 30px;
  cursor: pointer;
  display: flex;
}

.star {
  margin-right: 8px;
  transition: 0.2s;
}

.star.full {
  color: #ffc107;
}

.star.empty {
  color: #ddd;
}


.review-input {
  width: 100%;
  height: 120px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  resize: none;
  font-size: 16px;
  line-height: 1.4;
}

.review-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

.cancel-button,
.submit-review-button {
  padding: 10px 18px;
  font-size: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.cancel-button {
  background: #333;
  color: white;
}

.submit-review-button {
  background: #646cff;
  color: white;
  font-weight: bold;
}

.cancel-button:hover {
  opacity: 0.7;
}

.submit-review-button:hover {
  opacity: 0.7;
}
